@import "../bourbon/bourbon";
@import "../neat/neat";


/* -------------------------- Play button styling ------------------------ */


.video-container {
  position: relative;
  h3 {
    min-width: 20%;
    min-height: 20%;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 60%;
    left: 40%;
  }
}


/* -------------------------- Play button styling ------------------------ */


.vjs-control-bar {
  background-color: transparent !important;
  /*display: none !important;*/
}



.vjs-big-play-button {

  font-size: 0em !important;
  margin-top: -52.5px !important;
  margin-left: -52.5px !important;
}

.vjs-volume-menu-button, .vjs-progress-control, .vjs-remaining-time, .vjs-fullscreen-control {
  display: none !important;
}

.vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before {
  content: url("img/Playicon.png") !important;


}

/* Play/Pause
--------------------------------------------------------------------------------
*/
.vjs-default-skin .vjs-play-control {
  display: block !important;
  top: -20.85em;
  left: 50%;
  margin-left:-52.5px;
  margin-top: -52.5px;
  width: 10em;
  cursor: pointer;
}
.vjs-default-skin .vjs-play-control:before {
  content: url("img/Playicon.png") !important;
}
.vjs-default-skin.vjs-playing .vjs-play-control:before {
  content: url("img/Pauseicon.png") !important;
}


/* -------------------------- Ambassador Section  NEAT layout ------------------------ */

.container {
  @include outer-container;
}

.intro {
  @include shift(2);
  @include span-columns(6);

  text-align: justify;
}

.card-row {
  @include shift(1);
  @include span-columns(12);

  .card {
    @include span-columns(2 of 10);
    @include omega();

    text-align: center;


    img {
      border-radius: 50%;
      width: 10em;
      height: 10em;
      text-align: center;
    }

    p, h4 {
      text-align: center;
    }

  }

}




/* -------------------------- Ambassador Section styling ------------------------ */



/*div {

  img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    text-align: center;
  }

  P, h4 {
    text-align: center;
  }
}*/


