@import "../bourbon/bourbon";
@import "../neat/neat";

/* -------------------------- Play button styling ------------------------ */


.video-container {
  position: relative;
  h3 {
    min-width: 10%;
    min-height: 10%;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 55%;
    left: 45%;
    pointer-events: none;
  }
}


/* -------------------------- Play button styling ------------------------ */


.vjs-control-bar {
  /*display: none !important;*/
}

.vjs-big-play-button {

  font-size: 3em !important;
  margin-top: -52.5px !important;
  margin-left: -52.5px !important;
}



.vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before {
  content: url("img/Playicon.png") !important;


}

/* Play/Pause
--------------------------------------------------------------------------------
*/
.vjs-default-skin .vjs-play-control {
  display: block !important;
  top: -26.5em;
  left: 53em;
  width: 10em;
  cursor: pointer;
}
.vjs-default-skin .vjs-play-control:before {
  content: url("img/Playicon.png") !important;
}
.vjs-default-skin.vjs-playing .vjs-play-control:before {
  content: url("img/Pauseicon.png") !important;
}


/* -------------------------- Ambassador Section  NEAT layout ------------------------ */

.container {
  @include outer-container;
}

.intro {
  @include shift(2);
  @include span-columns(6);

  text-align: justify;
}

.card-row {
  @include shift(1);
  @include span-columns(12);

  .card {
    @include span-columns(2 of 10);
    @include omega();

    text-align: center;


    img {
      border-radius: 50%;
      width: 10em;
      height: 10em;
      text-align: center;
    }

    p, h4 {
      text-align: center;
    }

  }

}




/* -------------------------- Ambassador Section styling ------------------------ */



/*div {

  img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    text-align: center;
  }

  P, h4 {
    text-align: center;
  }
}*/


